.card-container{
    background-color: #FDFDFD;
    border-radius: 6px;
    text-align: left; 
} 
.card-container p{
    font-size: 1.1rem;
    color: black;
    padding-left: 1rem;
}

.card-container .id-container{
    text-align: left;
    background-color: #FEE440;
}

.card-container .id-container p{  
    margin: 0;
    font-size: 1.2rem;
}